input{
    font-size: 2rem;
    display: block;
    margin-top: 1rem;
}
#sale{
    width: 2rem;
    height: 2rem;
    display: inline-block;
}
.sale{
    font-size: 2rem;
}
.submit{
    font-size: 2rem;
    display: block;
}